table {
	border: 2px solid white;
	font-size: 18px;
	border-collapse:collapse;
	background: url('/static/img/crossed_stripes.png') repeat;
}

td {
	border: 2px solid white;
	font-size: 18px;
	border-collapse:collapse;
}

.refresh_btn {
   width = 350px !important;
   height = 150px !important;
   border: 2px solid #FF5252;
   color: #FF5252;
   transition: .40s;
   -webkit-transition: .40s;

}

.refresh_btn:hover {
   width = 350px;
   height = 150px;
	background: #FF5252;
	color: white;
	transition: .40s;
	-webkit-transition: .40s;
}

.pack_image {
	overflow: hidden;
	transform: translatey(0px);
	animation: float 6s infinite;
	img { width: 100%; height: auto; }
}

.card_container {
  height: 255px;
  width: 180px;
  border-radius:8px;
  float: left;
  margin: 10px;    
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;

}

.flip-card {
  background-color: transparent;
  width: 180px;
  height: 255px;
  perspective: 1000px;
  float:left;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card_click {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card_click.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 20px;
  color: black;
  text-align: bottom;
  text-align: center;
  font-size: 150%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card .front {
  background: #222222;
  border-radius:8px;
}

.card .back {
  background: #444444;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  border-radius:8px;
      color: white;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

.card_click .front,
.card_click .back{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 20px;
  color: white;
  text-align: bottom;
  text-align: center;
  font-size: 150%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card_click .front {
  background: #222222;
  border-radius:8px;
}

.card_click .back {
  background: #444444;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  border-radius:8px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.foil:before, .foil:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 1200%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
	  border-radius:8px;

}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.foil:after {
	filter: blur(15px);
	border-radius:8px;

}

.card_container:hover{
	transform: scale(1.05);
	transition: 0.1s;
}
.card_click .front:hover {
  border-radius:10px;
  border-color: #FFD700;
  box-shadow: 0 0 30px rgba(255,215,0, .8);
  transition: 0.3s;
}
.dollar {
  border-radius:10px !important;
  border-color: #0051FF !important;
  box-shadow: 0 0 30px rgba(0,81,255, .8) !important;
}
.five {
  border-radius:10px !important;
  border-color: #FF3826 !important;
  box-shadow: 0 0 30px rgba(255,56,38, .8) !important;
}

.button-show{
}

.caption {
  color: white;
	float:bottom;
	display:block;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

}
