body {
	background: url('/static/img/navy_blue.png') repeat;
	color: white;
	text-align: center;
	}

input {
	display: inline-block;
	width: 40%;
	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
	background-color: #333333;
  	color: white;
  	text-align:center;
  	
	 }
.card_button {
	display: inline-block;
	padding: 12px 20px;
  	margin: 4px 2px;
  	box-sizing: border-box;
	background-color: #333333;
	font-size:18px;
  	color: white;
  	text-align:center;
  	align: center;
  	}


