{% extends "bootstrap/base.html" %}
{% block title %}MTG Packs{% endblock %}
{% block styles %}
{{super()}}
	<link rel="stylesheet" href="/static/css/main_body.css">
	<link rel="stylesheet" href="/static/css/navbar.css">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse " role="navigation">
 <div class="bar_nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <a class="navbar-brand">MTGPacks</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
         {% if current_user.is_authenticated %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/dashboard">History</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          {% else %}
	        <li><a href="/login">Login</a></li>
	        <li><a href="/signUp">Signup</a></li>
			{% endif %}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/pickPack">Pick Packs</a></li>
        <li><a href="/Leaderboard">Leaderboard</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.navbar-container -->
</nav>
{% endblock %}
{% block content%}
{{super()}}

	<div style="margin-left:30%;margin-bottom:10px;width:60%;text-align:left">
	<h1>Ranking of Sets by Number of Packs Opened</h1>
	{% for pack in packRank %}
	<h2>#{{loop.index}}.({{pack[1]}}) <a href="/{{pack[0]}}Pack"><img border="0" src="/static/img/{{pack[0]}}_logo.png" width="60%" height="auto"></a></h2>
	<br><br>
	{% endfor %}

	<h1>Top 5 Users by Number of Packs Opened</h1>
	{% for user in userRank %}
	<h2>#{{loop.index}}.({{user[1]}}) {{user[0]}}</h2>
	<br><br>
	{% endfor %}
	</div>
{% endblock %}
{% block scripts %} 
	{{super()}}	
	<script src="/static/js/hover-flip.js"></script>
	<script src="/static/js/jquery.countimator.min.js"></script>

{% endblock %}
