{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/css/signin.css">
{%endblock%}

{% block content %}

  <div class="container">

    <form class="form-login" method="POST" action="/login">
      <h2 class="form-login-heading" >Please sign in</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.password) }}
   <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
 </form>

</div> <!-- /container -->
{% endblock %}
